<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Genres</title>
    <meta content="width=device-width, initial-scale=2" name="viewport"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link href="/public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>
</head>

<body>

<header th:replace="admin/layout :: admin-header"></header>

<div th:replace="admin/layout :: admin-nav"></div>

<div class="container text-center">

    <div align="center" class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>


            </tr>
            </thead>
            <th:block th:each="genre : ${genres}">

                <tbody>
                <td th:text="${genre.title}"></td>
                <td th:text="${genre.description}"></td>
                <td>
                    <a th:href="@{/admin/edit/genre(genreId= ${genre.genreId})}">
                        <button class="btn btn-default" type="button">Edit</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/delete/genre (genreId = ${genre.genreId})}">
                        <button class="btn btn-default" type="button">Delete</button>
                    </a>
                </td>
                </tbody>
            </th:block>
        </table>
    </div>
    <br/>

    <a href="/admin/add/cinema.html" th:href="@{/admin/add/genre}">
        <button class="btn btn-default" type="button">New Genre</button>
    </a>
</div>

</body>
</html>