<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Films</title>
    <meta content="width=device-width, initial-scale=2" name="viewport"/>
    <script src="/public/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/public/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/public/js/validator.js" th:src="@{/js/validator.js}"></script>
    <link href="/public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/public/css/searchform.css" rel="stylesheet" th:href="@{/css/searchform.css}"/>
    <link href="/public/favicon.ico" rel="icon" th:href="@{/favicon.ico}"/>
    <style>
        .navbar {
            margin-bottom: 10px;
            border-radius: 0;
        }

        .jumbotron {
            margin-bottom: 0;
        }
    </style>
    <script>
        function rowClicked(value) {
            location.href = "/details/film?filmId=" + value;
        }
    </script>
</head>
<body>

<header th:replace="layout :: header"></header>

<div th:replace="layout :: nav"></div>

<div class="container">
    <div class="col-lg-12 ">
        <form method="get" th:action="@{/film}">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input class="form-control input-lg" name="filmTittle" placeholder="Search by name" type="text"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </form>

    </div>
    <br/>
    <br/>
    <div class="table-responsive col-lg-12">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Year of issue</th>
                <th>Country of Origin</th>
                <th>Age limit</th>
                <th>Premiere</th>
                <th></th>

            </tr>
            </thead>
            <tr style="cursor: pointer" th:each="film : ${allFilm.content}"
                th:onclick="'javascript:rowClicked(\'' + ${film.filmId} + '\');'">
                <td th:text="${film.title}"></td>
                <td th:text="${film.duration}"></td>
                <td th:text="${film.year}"></td>
                <td th:text="${film.country}"></td>
                <td th:text="${film.restriction} + '+'"></td>
                <td th:text="${film.startFrom}"></td>
                <td>
                    <a th:href="@{/session(filmId = ${film.filmId})}">
                        <button class="btn btn-default" type="button">Сеансы</button>
                    </a>
                </td>

            </tr>
        </table>

    </div>
    <div class="col-lg-2 col-lg-offset-5 text-center">
        <ul class="pagination">
            <li th:each="iterStat : ${#numbers.sequence(1, allFilm.totalPages, 1)}"><a
                    th:href="@{/film(page = ${(iterStat.intValue())})}"
                    th:text="${iterStat.intValue()}"></a></li>
        </ul>
    </div>
</div>
</body>
</html>
