<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authorization</title>
    <script>
        $('.message a').click(function () {
            $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
    <link href="/public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="/public/css/registration.css" rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="login-form" data-toggle="validator" method="post" th:action="@{/login}">
            <div class="help-block" style="color: #ac2925" th:if="${error}!= null">Invalid username / password</div>
            <input name="username" placeholder="Login" required="required" type="text"/>
            <input name="password" placeholder="Password" required="required" type="password"/>
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button class=" btn btn-lg btn-primary btn-block">Login</button>
            <p class="message"><a th:href="@{/registration}">Register now</a></p>
        </form>
    </div>
</div>

</body>
</html>
